mixin footer
  footer.bg-secondary.text-light.overflow-auto
    .container.my-3.text-break 
      .col-12
        p.text-center.small
          small Source Code → © 2022 BSD-3-Clause Justin Muirhead — Content → © 2021-2022 Justin Muirhead
  script(src="../ts/main.ts")
