mixin footer
  .col-10.mx-auto.mt-auto
    hr.mb-1
    .d-flex.justify-content-center.w-100
      a.bi-linkedin.fs-1.link-dark.me-3(
        href="https://www.linkedin.com/in/justinmuirhead",
        aria-label="Link to LinkedIn Profile"
      )
      a.bi-github.fs-1.link-dark(
        href="https://github.com/hdert",
        aria-label="Link to GitHub Profile"
      )
  footer.bg-secondary.text-dark.overflow-auto
    .container.my-3.text-break 
      .col-12
        p.text-center.small
          small Source Code → © 2022 BSD-3-Clause Justin Muirhead — Content → © 2021-2022 Justin Muirhead
  script(src="../ts/main.ts")
