mixin header
  img#bannerImage.img-fluid.w-100(src="../img/justinMuirheadGreyscale.jpg")
  nav.navbar.navbar-dark.bg-secondary.sticky-top.container-fluid
    a.navbar-brand(href="index.pug")
      img(
        src="../img/icons/logo.png",
        alt="Circular Logo",
        height="40",
        width="40"
      )
