doctype html
html(lang="en")
  include ../includes/head.pug
  +head("Home | Justin Muirhead", "Justin Muirhead's Portfolio", "../img/justinMuirheadGreyscale.jpg", true, "index", "The words 'Justin Muirhead' on a background of various circles")
  include ../includes/header.pug
  +header
  include ../includes/footer.pug
  body.d-flex.flex-column.min-vh-100.pb-5
  +footer
