doctype html
html(lang="en")
  include ../includes/head.pug
  +head("Home | Justin Muirhead", "Justin Muirhead's Portfolio", "../img/justinMuirheadBannerDesaturatedConstrastBumpedSubtler_16x9.png", true, "index", "The words 'Justin Muirhead' on a background of various circles")
  include ../includes/header.pug
  +header("justinMuirheadBannerLight.png")
  body.d-flex.flex-column.min-vh-100
    //- a.badge-base__link.LI-simple-link(
    //-   href="https://nz.linkedin.com/in/justinmuirhead?trk=profile-badge"
    //- ) Justin Muirhead
    include ../includes/footer.pug
    +footer
