doctype html
html(lang="en")
  include ../includes/head.pug
  +head("Home | Justin Muirhead", "Justin Muirhead's Portfolio", "../img/justinMuirheadBannerDesaturatedConstrastBumpedSubtler_16x9.png", true, "index", "The words 'Justin Muirhead' on a background of various circles")
  include ../includes/header.pug
  +header("Justin Muirhead2.png")
  body.d-flex.flex-column.min-vh-100 
    include ../includes/footer.pug
    +footer
