doctype html
html(lang="en")
  include ../includes/head.pug
  +head("Home | Justin Muirhead", "Justin Muirhead's Portfolio", "../img/justinMuirheadBannerDesaturatedConstrastBumpedSubtler_16x9.png", true, "index", "The words 'Justin Muirhead' on a background of various circles")
  include ../includes/header.pug
  +header("justinMuirheadBannerLight.png")
  body.d-flex.flex-column.min-vh-100
    .col-10.mx-auto.mt-auto
      hr.mb-1
      .d-flex.justify-content-center
        a.bi-linkedin.fs-1.link-dark.me-3(
          href="https://www.linkedin.com/in/justinmuirhead"
        )
        a.bi-github.fs-1.link-dark(href="https://github.com/hdert")
  include ../includes/footer.pug
  +footer
